# Basics of Python

In [4]:
first_name = 'Harpreet'
last_name = 'Singh'

In [5]:
print("My first name is {} and last name is {}".format(first_name, last_name))

My first name is Harpreet and last name is Singh

In [6]:
print("My first name is {first} and last name is {last}".format(last=last_name, first=first_name))

My first name is Harpreet and last name is Singh

In [7]:
len(last_name), type(last_name), type(1.0)

(5, str, float)

## Strings

In [41]:
my_str = 'Harpreet Singh'

In [42]:
my_str.isalnum() # if string is alpha-numeric

False

In [46]:
my_str.isalpha(), my_str.isdigit(), my_str.isupper(), my_str.islower(), my_str.isspace()

(False, False, False, False, False)

In [44]:
my_str1 = 'Harpreet singh'
my_str2 = 'harpreet singh'

In [45]:
my_str.istitle(), my_str1.istitle(), my_str2.istitle() # is string is a title-cased string

(True, False, False)

In [49]:
my_str.startswith('H'), my_str.endswith('h')

(True, True)

In [50]:
my_str2.startswith('H'), my_str2.endswith('h') # case sensitive

(False, True)

## Boolean and Logical Operators

In [52]:
True and True, True and False, False and False

(True, False, False)

In [53]:
True or True, True or False, False or False

(True, True, False)

In [76]:
bool(), bool(True), bool(1==1), bool(my_str) # bool() converts to boolean

(False, True, True, True)

In [77]:
my_str.isalpha() or my_str.isdigit() # it contains alphabets or it contains digits

False

In [78]:
my_str.isnumeric() # this also considers digits from other languages

False

In [79]:
'一'.isdigit(), '一'.isnumeric() # 一 is considered 1 in Chinese language

(False, True)

## Lists

In [164]:
lst = list() # creates an empty list
lst

[]

In [165]:
type(lst)

list

In [111]:
lst = ['Mathematics', 'Chemistry', 100, 200, 300, 400]

In [112]:
len(lst), lst[0], lst[5]

(6, 'Mathematics', 400)

In [113]:
lst.append('Harpreet') # adds at last
lst

['Mathematics', 'Chemistry', 100, 200, 300, 400, 'Harpreet']

In [114]:
lst[:]

['Mathematics', 'Chemistry', 100, 200, 300, 400, 'Harpreet']

In [115]:
lst[1:]

['Chemistry', 100, 200, 300, 400, 'Harpreet']

In [116]:
lst[:1] # the end value is excluded

['Mathematics']

In [117]:
lst.append(["John", "Joe"]) # this will add a list inside the list
lst

['Mathematics', 'Chemistry', 100, 200, 300, 400, 'Harpreet', ['John', 'Joe']]

In [118]:
lst.extend(["John", "Joe"]) # this will extend the list
lst

['Mathematics',
 'Chemistry',
 100,
 200,
 300,
 400,
 'Harpreet',
 ['John', 'Joe'],
 'John',
 'Joe']

In [119]:
lst.insert(2, "Sodhi") # inserts at 2nd index
lst

['Mathematics',
 'Chemistry',
 'Sodhi',
 100,
 200,
 300,
 400,
 'Harpreet',
 ['John', 'Joe'],
 'John',
 'Joe']

In [120]:
lst.insert(7, [500,600]) # inserts at 7th index
lst

['Mathematics',
 'Chemistry',
 'Sodhi',
 100,
 200,
 300,
 400,
 [500, 600],
 'Harpreet',
 ['John', 'Joe'],
 'John',
 'Joe']

In [121]:
lst[7:7] = [500,600] # to extend list at an index
lst

['Mathematics',
 'Chemistry',
 'Sodhi',
 100,
 200,
 300,
 400,
 500,
 600,
 [500, 600],
 'Harpreet',
 ['John', 'Joe'],
 'John',
 'Joe']

In [138]:
lst = [1, 2, 3, 4, 5]
len(lst)

5

In [139]:
lst.pop()

5

In [140]:
lst.pop(0) # you can give index

1

In [141]:
lst

[2, 3, 4]

In [142]:
sum(lst)

9

In [149]:
lst = [1, 2, 3, 4, 5, 5]

In [150]:
lst.count(5)

2

In [157]:
lst.index(5), lst.index(5,0), lst.index(5,0,5) # returns the index of first occurrence. Start and End index are optional

(4, 4, 4)

In [158]:
min(lst), max(lst)

(1, 5)

In [159]:
lst = [1, 2, 3, 4, 5]

In [160]:
lst*2 # will append the list by two times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Sets

In [167]:
set_var = set() # creates an empty set
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [174]:
set_var = {1,2,3,4,3} # set will remove duplicate entries
print(set_var)

{1, 2, 3, 4}

In [178]:
set_var = {"Avengers", "Hitman", "Ironman"}

In [183]:
set_var[0] # set does not support indexing

TypeError: 'set' object is not subscriptable

In [184]:
set_var['Avengers'] # set does not support indexing

TypeError: 'set' object is not subscriptable

In [186]:
set_var.add("Hulk") # order is not maintained in sets
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [202]:
set1 = {"Avengers", "Hitman", "Ironman"}
set2 = {"Avengers", "Hitman", "Ironman", "Hulk"}

In [203]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [204]:
set2.difference(set1), set1.difference(set2) # so it's first minus second

({'Hulk'}, set())

In [205]:
set2.difference_update(set1) # will put the result in set2 or can say will update the set
set2

{'Hulk'}

## Dictionaries

In [216]:
dic = {} or dict() # creates an empty dictionary
dic, type(dic)

({}, dict)

In [217]:
set_var = {1,2,3} # in sets you provide elements
dic_var = {1:'a',2:'b',3:'c'} # in dictionaries you key, value pairs
print(type(set_var))
print(type(dic_var))

<class 'set'>
<class 'dict'>

In [218]:
my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercidies"}

In [220]:
my_dict['Car1'] # access by keys

'Audi'

In [221]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [222]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies

In [223]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies')

In [224]:
my_dict["Car4"] = "Ferrari" # add key values
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies', 'Car4': 'Ferrari'}

In [226]:
my_dict["Car3"] = "Aston Martin" # update values
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Aston Martin', 'Car4': 'Ferrari'}

In [228]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

cars={'car1':car1_model,'car2':car2_model,'car3':car3_model} # creates nested dictionaries
cars

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [229]:
cars['car1']['Mercedes']

1960

## Tuples

In [232]:
my_tuple = () or tuple() # creates an empty tuple
type(my_tuple)

tuple

In [237]:
my_tuple = ("Harpreet", "Rajveen", "Chandra")

In [238]:
my_tuple[0] = "Manpreet" # tuples elements cannot be changed

TypeError: 'tuple' object does not support item assignment

In [240]:
my_tuple = ("Hello", "World") # but the whole tuple can be changed
my_tuple

('Hello', 'World')

In [241]:
my_tuple.count('Hello'), my_tuple.index('Hello')

(1, 0)